/* Simple CSS Reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Sofia", sans-serif;
}

.hero {
    background-image: url('https://wallcoveringsmart.com/cdn/shop/files/da63209_42.jpg?v=1689975887');
    height: 25vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    opacity: 100%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-text1 {
    font-size: 20px; 
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 21, 65); 
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 1px;
    align-self: center;        
    margin-left: 100px;    
    position: relative;
    top: 20px;             
    z-index: 2;            
}

.hero-text2 {
    font-weight: bold;
    font-family: "Tangerine", cursive;
    color: rgb(40, 28, 66);
    text-align: center;
    font-size: 110px;
    margin: 0;    
    padding: 0;
    line-height: 0.8;
    z-index: 1;
}

.topic-title {
    background-color: rgb(238, 238, 238);
    padding: 15px 0;    
    text-align: center;
    width: 100%;              
    box-sizing: border-box;
    border-radius: 4px;       
}

.topic-title2 {
    background-color: rgb(238, 238, 238); 
    padding: 15px 0;                 
    text-align: center;
    width: 100%;                                         
    box-sizing: border-box;
    border-radius: 4px;                
    margin-bottom: 2em;                
}

.topic-title2 h1 {
    font-family: "Tangerine", serif;
    color: rgb(40, 4, 56);   
    font-size: 30px;   
    margin: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

.topic-content2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
    width: 70%;
    margin: 3em auto;
}

.topic-card2 {
    background-color: #e7dfec;
    background-size: cover; 
    color: rgb(65, 21, 65);
    font-family: "Tangerine";
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topic-card-text {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.footer {
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: right;
    padding: 3em 3em;
    font-family: "Tangerine", serif;
}

.topic-card2 img {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: contain;
}

.topic-title nav a {
    font-family: "Tangerine", serif;
    color: rgb(65, 21, 65);
    font-size: 30px; 
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;   
    display: inline-block; 
    transition: all 0.3s ease;
    border-radius: 4px;
    padding: 2px 8px;
    background-color: transparent;
}

.topic-title nav a:hover {
    color: #ffffff;
    background-color: #a387a3;
    text-decoration: none;
}